# Environment variables
.env

# Google Cloud credentials
*.json

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Streamlit secrets (kept in cloud, not in repo)
.streamlit/

# Local resumes (don’t upload user files to GitHub)
user_resumes/
uploaded_resume.pdf
